<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hellothomas.jedi.consumer.infrastructure.mapper.ExecutorTaskMessageMapper">
  <resultMap id="BaseResultMap" type="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessage">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="namespace" jdbcType="VARCHAR" property="namespace" />
    <result column="message_type" jdbcType="VARCHAR" property="messageType" />
    <result column="pool_name" jdbcType="VARCHAR" property="poolName" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="wait_time" jdbcType="BIGINT" property="waitTime" />
    <result column="execution_time" jdbcType="BIGINT" property="executionTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="exit_code" jdbcType="VARCHAR" property="exitCode" />
    <result column="exit_message" jdbcType="VARCHAR" property="exitMessage" />
    <result column="task_extra_data" jdbcType="VARCHAR" property="taskExtraData" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="is_recoverable" jdbcType="BIT" property="isRecoverable" />
    <result column="is_recovered" jdbcType="BIT" property="isRecovered" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="trace_id" jdbcType="VARCHAR" property="traceId" />
    <result column="is_by_retryer" jdbcType="BIT" property="isByRetryer" />
    <result column="previous_id" jdbcType="VARCHAR" property="previousId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="data_source_name" jdbcType="VARCHAR" property="dataSourceName" />
    <result column="is_persistent" jdbcType="BIT" property="isPersistent" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="is_retried" jdbcType="BIT" property="isRetried" />
    <result column="retry_id" jdbcType="VARCHAR" property="retryId" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, namespace, message_type, pool_name, task_name, wait_time, execution_time, 
    status, exit_code, exit_message, task_extra_data, end_time, is_recoverable, is_recovered, 
    host, trace_id, is_by_retryer, previous_id, parent_id, data_source_name, is_persistent, 
    record_time, is_retried, retry_id, update_user, create_time, update_time, version
  </sql>
  <select id="selectByExample" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from executor_task_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from executor_task_message
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from executor_task_message
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessageExample">
    delete from executor_task_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessage">
    insert into executor_task_message (id, app_id, namespace, 
      message_type, pool_name, task_name, 
      wait_time, execution_time, status, 
      exit_code, exit_message, task_extra_data, 
      end_time, is_recoverable, is_recovered, 
      host, trace_id, is_by_retryer, 
      previous_id, parent_id, data_source_name, 
      is_persistent, record_time, is_retried, 
      retry_id, update_user, create_time, 
      update_time, version)
    values (#{id,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{namespace,jdbcType=VARCHAR}, 
      #{messageType,jdbcType=VARCHAR}, #{poolName,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{waitTime,jdbcType=BIGINT}, #{executionTime,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{exitCode,jdbcType=VARCHAR}, #{exitMessage,jdbcType=VARCHAR}, #{taskExtraData,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=TIMESTAMP}, #{isRecoverable,jdbcType=BIT}, #{isRecovered,jdbcType=BIT}, 
      #{host,jdbcType=VARCHAR}, #{traceId,jdbcType=VARCHAR}, #{isByRetryer,jdbcType=BIT}, 
      #{previousId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{dataSourceName,jdbcType=VARCHAR}, 
      #{isPersistent,jdbcType=BIT}, #{recordTime,jdbcType=TIMESTAMP}, #{isRetried,jdbcType=BIT}, 
      #{retryId,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessage">
    insert into executor_task_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="namespace != null">
        namespace,
      </if>
      <if test="messageType != null">
        message_type,
      </if>
      <if test="poolName != null">
        pool_name,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="waitTime != null">
        wait_time,
      </if>
      <if test="executionTime != null">
        execution_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="exitCode != null">
        exit_code,
      </if>
      <if test="exitMessage != null">
        exit_message,
      </if>
      <if test="taskExtraData != null">
        task_extra_data,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isRecoverable != null">
        is_recoverable,
      </if>
      <if test="isRecovered != null">
        is_recovered,
      </if>
      <if test="host != null">
        host,
      </if>
      <if test="traceId != null">
        trace_id,
      </if>
      <if test="isByRetryer != null">
        is_by_retryer,
      </if>
      <if test="previousId != null">
        previous_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="dataSourceName != null">
        data_source_name,
      </if>
      <if test="isPersistent != null">
        is_persistent,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
      <if test="isRetried != null">
        is_retried,
      </if>
      <if test="retryId != null">
        retry_id,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="namespace != null">
        #{namespace,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="poolName != null">
        #{poolName,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="waitTime != null">
        #{waitTime,jdbcType=BIGINT},
      </if>
      <if test="executionTime != null">
        #{executionTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="exitCode != null">
        #{exitCode,jdbcType=VARCHAR},
      </if>
      <if test="exitMessage != null">
        #{exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="taskExtraData != null">
        #{taskExtraData,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecoverable != null">
        #{isRecoverable,jdbcType=BIT},
      </if>
      <if test="isRecovered != null">
        #{isRecovered,jdbcType=BIT},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="traceId != null">
        #{traceId,jdbcType=VARCHAR},
      </if>
      <if test="isByRetryer != null">
        #{isByRetryer,jdbcType=BIT},
      </if>
      <if test="previousId != null">
        #{previousId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceName != null">
        #{dataSourceName,jdbcType=VARCHAR},
      </if>
      <if test="isPersistent != null">
        #{isPersistent,jdbcType=BIT},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRetried != null">
        #{isRetried,jdbcType=BIT},
      </if>
      <if test="retryId != null">
        #{retryId,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessageExample" resultType="java.lang.Long">
    select count(*) from executor_task_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update executor_task_message
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.namespace != null">
        namespace = #{record.namespace,jdbcType=VARCHAR},
      </if>
      <if test="record.messageType != null">
        message_type = #{record.messageType,jdbcType=VARCHAR},
      </if>
      <if test="record.poolName != null">
        pool_name = #{record.poolName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null">
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.waitTime != null">
        wait_time = #{record.waitTime,jdbcType=BIGINT},
      </if>
      <if test="record.executionTime != null">
        execution_time = #{record.executionTime,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.exitCode != null">
        exit_code = #{record.exitCode,jdbcType=VARCHAR},
      </if>
      <if test="record.exitMessage != null">
        exit_message = #{record.exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.taskExtraData != null">
        task_extra_data = #{record.taskExtraData,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRecoverable != null">
        is_recoverable = #{record.isRecoverable,jdbcType=BIT},
      </if>
      <if test="record.isRecovered != null">
        is_recovered = #{record.isRecovered,jdbcType=BIT},
      </if>
      <if test="record.host != null">
        host = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.traceId != null">
        trace_id = #{record.traceId,jdbcType=VARCHAR},
      </if>
      <if test="record.isByRetryer != null">
        is_by_retryer = #{record.isByRetryer,jdbcType=BIT},
      </if>
      <if test="record.previousId != null">
        previous_id = #{record.previousId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceName != null">
        data_source_name = #{record.dataSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.isPersistent != null">
        is_persistent = #{record.isPersistent,jdbcType=BIT},
      </if>
      <if test="record.recordTime != null">
        record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRetried != null">
        is_retried = #{record.isRetried,jdbcType=BIT},
      </if>
      <if test="record.retryId != null">
        retry_id = #{record.retryId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update executor_task_message
    set id = #{record.id,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      namespace = #{record.namespace,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=VARCHAR},
      pool_name = #{record.poolName,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      wait_time = #{record.waitTime,jdbcType=BIGINT},
      execution_time = #{record.executionTime,jdbcType=BIGINT},
      status = #{record.status,jdbcType=TINYINT},
      exit_code = #{record.exitCode,jdbcType=VARCHAR},
      exit_message = #{record.exitMessage,jdbcType=VARCHAR},
      task_extra_data = #{record.taskExtraData,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      is_recoverable = #{record.isRecoverable,jdbcType=BIT},
      is_recovered = #{record.isRecovered,jdbcType=BIT},
      host = #{record.host,jdbcType=VARCHAR},
      trace_id = #{record.traceId,jdbcType=VARCHAR},
      is_by_retryer = #{record.isByRetryer,jdbcType=BIT},
      previous_id = #{record.previousId,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      data_source_name = #{record.dataSourceName,jdbcType=VARCHAR},
      is_persistent = #{record.isPersistent,jdbcType=BIT},
      record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      is_retried = #{record.isRetried,jdbcType=BIT},
      retry_id = #{record.retryId,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      version = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessage">
    update executor_task_message
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="namespace != null">
        namespace = #{namespace,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null">
        message_type = #{messageType,jdbcType=VARCHAR},
      </if>
      <if test="poolName != null">
        pool_name = #{poolName,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="waitTime != null">
        wait_time = #{waitTime,jdbcType=BIGINT},
      </if>
      <if test="executionTime != null">
        execution_time = #{executionTime,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="exitCode != null">
        exit_code = #{exitCode,jdbcType=VARCHAR},
      </if>
      <if test="exitMessage != null">
        exit_message = #{exitMessage,jdbcType=VARCHAR},
      </if>
      <if test="taskExtraData != null">
        task_extra_data = #{taskExtraData,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecoverable != null">
        is_recoverable = #{isRecoverable,jdbcType=BIT},
      </if>
      <if test="isRecovered != null">
        is_recovered = #{isRecovered,jdbcType=BIT},
      </if>
      <if test="host != null">
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="traceId != null">
        trace_id = #{traceId,jdbcType=VARCHAR},
      </if>
      <if test="isByRetryer != null">
        is_by_retryer = #{isByRetryer,jdbcType=BIT},
      </if>
      <if test="previousId != null">
        previous_id = #{previousId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceName != null">
        data_source_name = #{dataSourceName,jdbcType=VARCHAR},
      </if>
      <if test="isPersistent != null">
        is_persistent = #{isPersistent,jdbcType=BIT},
      </if>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRetried != null">
        is_retried = #{isRetried,jdbcType=BIT},
      </if>
      <if test="retryId != null">
        retry_id = #{retryId,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskMessage">
    update executor_task_message
    set app_id = #{appId,jdbcType=VARCHAR},
      namespace = #{namespace,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=VARCHAR},
      pool_name = #{poolName,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      wait_time = #{waitTime,jdbcType=BIGINT},
      execution_time = #{executionTime,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      exit_code = #{exitCode,jdbcType=VARCHAR},
      exit_message = #{exitMessage,jdbcType=VARCHAR},
      task_extra_data = #{taskExtraData,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_recoverable = #{isRecoverable,jdbcType=BIT},
      is_recovered = #{isRecovered,jdbcType=BIT},
      host = #{host,jdbcType=VARCHAR},
      trace_id = #{traceId,jdbcType=VARCHAR},
      is_by_retryer = #{isByRetryer,jdbcType=BIT},
      previous_id = #{previousId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      data_source_name = #{dataSourceName,jdbcType=VARCHAR},
      is_persistent = #{isPersistent,jdbcType=BIT},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      is_retried = #{isRetried,jdbcType=BIT},
      retry_id = #{retryId,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <resultMap id="ExecutorTaskStatisticsResultMap" type="xyz.hellothomas.jedi.consumer.domain.ExecutorTaskStatistics">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="statistics_date" jdbcType="DATE" property="statisticsDate" />
    <result column="namespace_name" jdbcType="VARCHAR" property="namespaceName" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="executor_name" jdbcType="VARCHAR" property="executorName" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="failure" jdbcType="INTEGER" property="failure" />
    <result column="failure_ratio" jdbcType="DECIMAL" property="failureRatio" />
    <result column="total_time_max" jdbcType="BIGINT" property="totalTimeMax" />
    <result column="total_time_min" jdbcType="BIGINT" property="totalTimeMin" />
    <result column="wait_time_max" jdbcType="BIGINT" property="waitTimeMax" />
    <result column="wait_time_min" jdbcType="BIGINT" property="waitTimeMin" />
    <result column="execution_time_max" jdbcType="INTEGER" property="executionTimeMax" />
    <result column="execution_time_min" jdbcType="INTEGER" property="executionTimeMin" />
    <result column="execution_time_line_95" jdbcType="INTEGER" property="executionTimeLine95" />
    <result column="execution_time_line_99" jdbcType="INTEGER" property="executionTimeLine99" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>

  <select id="selectStatisticsByTaskNameAndRecordTime" resultMap="ExecutorTaskStatisticsResultMap">
    select
    count(id) as total,
    count(case when status = 3 then 1 else null end) as failure,
    max(wait_time + execution_time) as total_time_max,
    min(wait_time + execution_time) as total_time_min,
    max(wait_time) as wait_time_max,
    min(wait_time) as wait_time_min,
    max(execution_time) as execution_time_max,
    min(execution_time) as execution_time_min,
    0 as execution_time_line_95,
    0 as execution_time_line_99
    from executor_task_message
    where namespace = #{namespaceName,jdbcType=VARCHAR} and
      app_id = #{appId,jdbcType=VARCHAR} and
      pool_name = #{executorName,jdbcType=VARCHAR} and
      task_name = #{taskName,jdbcType=VARCHAR} and
      record_time >= #{startTime,jdbcType=TIMESTAMP} and record_time <![CDATA[<]]> #{endTime,jdbcType=TIMESTAMP}
  </select>

  <!--no is_retried, retry_id, version-->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into executor_task_message (id, app_id, namespace,
      message_type, pool_name, task_name,
      wait_time, execution_time, status,
      exit_code, exit_message, task_extra_data,
      end_time, is_recoverable, is_recovered,
      host, trace_id, is_by_retryer,
      previous_id, parent_id, data_source_name,
      is_persistent, record_time, update_user,
      create_time, update_time)
    values
    <foreach collection="records" item="record" separator=",">
      (#{record.id,jdbcType=VARCHAR}, #{record.appId,jdbcType=VARCHAR}, #{record.namespace,jdbcType=VARCHAR},
      #{record.messageType,jdbcType=VARCHAR}, #{record.poolName,jdbcType=VARCHAR}, #{record.taskName,jdbcType=VARCHAR},
      #{record.waitTime,jdbcType=BIGINT}, #{record.executionTime,jdbcType=BIGINT}, #{record.status,jdbcType=TINYINT},
      #{record.exitCode,jdbcType=VARCHAR}, #{record.exitMessage,jdbcType=VARCHAR}, #{record.taskExtraData,jdbcType=VARCHAR},
      #{record.endTime,jdbcType=TIMESTAMP}, #{record.isRecoverable,jdbcType=BIT}, #{record.isRecovered,jdbcType=BIT},
      #{record.host,jdbcType=VARCHAR}, #{record.traceId,jdbcType=VARCHAR}, #{record.isByRetryer,jdbcType=BIT},
      #{record.previousId,jdbcType=VARCHAR}, #{record.parentId,jdbcType=VARCHAR}, #{record.dataSourceName,jdbcType=VARCHAR},
      #{record.isPersistent,jdbcType=BIT}, #{record.recordTime,jdbcType=TIMESTAMP}, #{record.updateUser,jdbcType=VARCHAR},
      #{record.createTime,jdbcType=TIMESTAMP}, #{record.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <!--no is_retried, retry_id, version-->
  <insert id="insertIgnoreBatch" parameterType="java.util.List">
    insert ignore into executor_task_message (id, app_id, namespace,
      message_type, pool_name, task_name,
      wait_time, execution_time, status,
      exit_code, exit_message, task_extra_data,
      end_time, is_recoverable, is_recovered,
      host, trace_id, is_by_retryer,
      previous_id, parent_id, data_source_name,
      is_persistent, record_time, update_user,
      create_time, update_time)
    values
    <foreach collection="records" item="record" separator=",">
      (#{record.id,jdbcType=VARCHAR}, #{record.appId,jdbcType=VARCHAR}, #{record.namespace,jdbcType=VARCHAR},
      #{record.messageType,jdbcType=VARCHAR}, #{record.poolName,jdbcType=VARCHAR}, #{record.taskName,jdbcType=VARCHAR},
      #{record.waitTime,jdbcType=BIGINT}, #{record.executionTime,jdbcType=BIGINT}, #{record.status,jdbcType=TINYINT},
      #{record.exitCode,jdbcType=VARCHAR}, #{record.exitMessage,jdbcType=VARCHAR}, #{record.taskExtraData,jdbcType=VARCHAR},
      #{record.endTime,jdbcType=TIMESTAMP}, #{record.isRecoverable,jdbcType=BIT}, #{record.isRecovered,jdbcType=BIT},
      #{record.host,jdbcType=VARCHAR}, #{record.traceId,jdbcType=VARCHAR}, #{record.isByRetryer,jdbcType=BIT},
      #{record.previousId,jdbcType=VARCHAR}, #{record.parentId,jdbcType=VARCHAR}, #{record.dataSourceName,jdbcType=VARCHAR},
      #{record.isPersistent,jdbcType=BIT}, #{record.recordTime,jdbcType=TIMESTAMP}, #{record.updateUser,jdbcType=VARCHAR},
      #{record.createTime,jdbcType=TIMESTAMP}, #{record.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <!--no is_retried, retry_id, version-->
  <insert id="insertOrUpdateBatch" parameterType="java.util.List">
    insert into executor_task_message (id, app_id, namespace,
    message_type, pool_name, task_name,
    wait_time, execution_time, status,
    exit_code, exit_message, task_extra_data,
    end_time, is_recoverable, is_recovered,
    host, trace_id, is_by_retryer,
    previous_id, parent_id, data_source_name,
    is_persistent, record_time, update_user,
    create_time, update_time)
    values
    <foreach collection="records" item="record" separator=",">
      (#{record.id,jdbcType=VARCHAR}, #{record.appId,jdbcType=VARCHAR}, #{record.namespace,jdbcType=VARCHAR},
      #{record.messageType,jdbcType=VARCHAR}, #{record.poolName,jdbcType=VARCHAR}, #{record.taskName,jdbcType=VARCHAR},
      #{record.waitTime,jdbcType=BIGINT}, #{record.executionTime,jdbcType=BIGINT}, #{record.status,jdbcType=TINYINT},
      #{record.exitCode,jdbcType=VARCHAR}, #{record.exitMessage,jdbcType=VARCHAR}, #{record.taskExtraData,jdbcType=VARCHAR},
      #{record.endTime,jdbcType=TIMESTAMP}, #{record.isRecoverable,jdbcType=BIT}, #{record.isRecovered,jdbcType=BIT},
      #{record.host,jdbcType=VARCHAR}, #{record.traceId,jdbcType=VARCHAR}, #{record.isByRetryer,jdbcType=BIT},
      #{record.previousId,jdbcType=VARCHAR}, #{record.parentId,jdbcType=VARCHAR}, #{record.dataSourceName,jdbcType=VARCHAR},
      #{record.isPersistent,jdbcType=BIT}, #{record.recordTime,jdbcType=TIMESTAMP}, #{record.updateUser,jdbcType=VARCHAR},
      #{record.createTime,jdbcType=TIMESTAMP}, #{record.updateTime,jdbcType=TIMESTAMP})
    </foreach>
    on duplicate key
    update update_time = now()
  </insert>

  <delete id="deleteBeforeUpdateTimeLimit" parameterType="java.time.LocalDateTime">
    delete from executor_task_message
    where update_time <![CDATA[<]]> #{updateTime,jdbcType=TIMESTAMP} limit 10000
  </delete>
</mapper>