<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hellothomas.jedi.admin.infrastructure.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="xyz.hellothomas.jedi.admin.domain.Permission">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission_type" jdbcType="VARCHAR" property="permissionType" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="data_change_created_by" jdbcType="VARCHAR" property="dataChangeCreatedBy" />
    <result column="data_change_created_time" jdbcType="TIMESTAMP" property="dataChangeCreatedTime" />
    <result column="data_change_last_modified_by" jdbcType="VARCHAR" property="dataChangeLastModifiedBy" />
    <result column="data_change_last_modified_time" jdbcType="TIMESTAMP" property="dataChangeLastModifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, permission_type, target_id, is_deleted, data_change_created_by, data_change_created_time,
    data_change_last_modified_by, data_change_last_modified_time
  </sql>
  <select id="selectByExample" parameterType="xyz.hellothomas.jedi.admin.domain.PermissionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from permission
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.hellothomas.jedi.admin.domain.PermissionExample">
    delete from permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.hellothomas.jedi.admin.domain.Permission" useGeneratedKeys="true" keyProperty="id">
    insert into permission (id, permission_type, target_id,
      is_deleted, data_change_created_by, data_change_created_time,
      data_change_last_modified_by, data_change_last_modified_time
      )
    values (#{id,jdbcType=BIGINT}, #{permissionType,jdbcType=VARCHAR}, #{targetId,jdbcType=VARCHAR},
      #{isDeleted,jdbcType=BIT}, #{dataChangeCreatedBy,jdbcType=VARCHAR}, #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      #{dataChangeLastModifiedBy,jdbcType=VARCHAR}, #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.hellothomas.jedi.admin.domain.Permission" useGeneratedKeys="true" keyProperty="id">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionType != null">
        permission_type,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="dataChangeCreatedBy != null">
        data_change_created_by,
      </if>
      <if test="dataChangeCreatedTime != null">
        data_change_created_time,
      </if>
      <if test="dataChangeLastModifiedBy != null">
        data_change_last_modified_by,
      </if>
      <if test="dataChangeLastModifiedTime != null">
        data_change_last_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dataChangeCreatedBy != null">
        #{dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeCreatedTime != null">
        #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataChangeLastModifiedBy != null">
        #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastModifiedTime != null">
        #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.hellothomas.jedi.admin.domain.PermissionExample" resultType="java.lang.Long">
    select count(*) from permission
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update permission
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.permissionType != null">
        permission_type = #{record.permissionType,jdbcType=VARCHAR},
      </if>
      <if test="record.targetId != null">
        target_id = #{record.targetId,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.dataChangeCreatedBy != null">
        data_change_created_by = #{record.dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.dataChangeCreatedTime != null">
        data_change_created_time = #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataChangeLastModifiedBy != null">
        data_change_last_modified_by = #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.dataChangeLastModifiedTime != null">
        data_change_last_modified_time = #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update permission
    set id = #{record.id,jdbcType=BIGINT},
      permission_type = #{record.permissionType,jdbcType=VARCHAR},
      target_id = #{record.targetId,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      data_change_created_by = #{record.dataChangeCreatedBy,jdbcType=VARCHAR},
      data_change_created_time = #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      data_change_last_modified_by = #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR},
      data_change_last_modified_time = #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.hellothomas.jedi.admin.domain.Permission">
    update permission
    <set>
      <if test="permissionType != null">
        permission_type = #{permissionType,jdbcType=VARCHAR},
      </if>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dataChangeCreatedBy != null">
        data_change_created_by = #{dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeCreatedTime != null">
        data_change_created_time = #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataChangeLastModifiedBy != null">
        data_change_last_modified_by = #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastModifiedTime != null">
        data_change_last_modified_time = #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.hellothomas.jedi.admin.domain.Permission">
    update permission
    set permission_type = #{permissionType,jdbcType=VARCHAR},
      target_id = #{targetId,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      data_change_created_by = #{dataChangeCreatedBy,jdbcType=VARCHAR},
      data_change_created_time = #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      data_change_last_modified_by = #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      data_change_last_modified_time = #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into permission (id, permission_type, target_id,
    is_deleted, data_change_created_by, data_change_created_time,
    data_change_last_modified_by, data_change_last_modified_time)
    values
    <foreach collection="records" item="record" separator=",">
    (#{record.id,jdbcType=BIGINT}, #{record.permissionType,jdbcType=VARCHAR}, #{record.targetId,jdbcType=VARCHAR},
    #{record.isDeleted,jdbcType=BIT}, #{record.dataChangeCreatedBy,jdbcType=VARCHAR}, #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
    #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR}, #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>
