<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hellothomas.jedi.admin.infrastructure.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="xyz.hellothomas.jedi.admin.domain.UserRole">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="data_change_created_by" jdbcType="VARCHAR" property="dataChangeCreatedBy" />
    <result column="data_change_created_time" jdbcType="TIMESTAMP" property="dataChangeCreatedTime" />
    <result column="data_change_last_modified_by" jdbcType="VARCHAR" property="dataChangeLastModifiedBy" />
    <result column="data_change_last_modified_time" jdbcType="TIMESTAMP" property="dataChangeLastModifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, role_id, is_deleted, data_change_created_by, data_change_created_time,
    data_change_last_modified_by, data_change_last_modified_time
  </sql>
  <select id="selectByExample" parameterType="xyz.hellothomas.jedi.admin.domain.UserRoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.hellothomas.jedi.admin.domain.UserRoleExample">
    delete from user_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.hellothomas.jedi.admin.domain.UserRole" useGeneratedKeys="true" keyProperty="id">
    insert into user_role (id, user_id, role_id,
      is_deleted, data_change_created_by, data_change_created_time,
      data_change_last_modified_by, data_change_last_modified_time
      )
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=BIGINT},
      #{isDeleted,jdbcType=BIT}, #{dataChangeCreatedBy,jdbcType=VARCHAR}, #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      #{dataChangeLastModifiedBy,jdbcType=VARCHAR}, #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.hellothomas.jedi.admin.domain.UserRole" useGeneratedKeys="true" keyProperty="id">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="dataChangeCreatedBy != null">
        data_change_created_by,
      </if>
      <if test="dataChangeCreatedTime != null">
        data_change_created_time,
      </if>
      <if test="dataChangeLastModifiedBy != null">
        data_change_last_modified_by,
      </if>
      <if test="dataChangeLastModifiedTime != null">
        data_change_last_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dataChangeCreatedBy != null">
        #{dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeCreatedTime != null">
        #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataChangeLastModifiedBy != null">
        #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastModifiedTime != null">
        #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.hellothomas.jedi.admin.domain.UserRoleExample" resultType="java.lang.Long">
    select count(*) from user_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_role
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.roleId != null">
        role_id = #{record.roleId,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.dataChangeCreatedBy != null">
        data_change_created_by = #{record.dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.dataChangeCreatedTime != null">
        data_change_created_time = #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataChangeLastModifiedBy != null">
        data_change_last_modified_by = #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.dataChangeLastModifiedTime != null">
        data_change_last_modified_time = #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_role
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      role_id = #{record.roleId,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      data_change_created_by = #{record.dataChangeCreatedBy,jdbcType=VARCHAR},
      data_change_created_time = #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      data_change_last_modified_by = #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR},
      data_change_last_modified_time = #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.hellothomas.jedi.admin.domain.UserRole">
    update user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dataChangeCreatedBy != null">
        data_change_created_by = #{dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeCreatedTime != null">
        data_change_created_time = #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataChangeLastModifiedBy != null">
        data_change_last_modified_by = #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastModifiedTime != null">
        data_change_last_modified_time = #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.hellothomas.jedi.admin.domain.UserRole">
    update user_role
    set user_id = #{userId,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      data_change_created_by = #{dataChangeCreatedBy,jdbcType=VARCHAR},
      data_change_created_time = #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      data_change_last_modified_by = #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      data_change_last_modified_time = #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into user_role (id, user_id, role_id,
    is_deleted, data_change_created_by, data_change_created_time,
    data_change_last_modified_by, data_change_last_modified_time
    )
    values
    <foreach collection="records" item="record" separator=",">
      (#{record.id,jdbcType=BIGINT}, #{record.userId,jdbcType=VARCHAR}, #{record.roleId,jdbcType=BIGINT},
      #{record.isDeleted,jdbcType=BIT}, #{record.dataChangeCreatedBy,jdbcType=VARCHAR}, #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR}, #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>
