<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hellothomas.jedi.biz.infrastructure.mapper.monitor.AppMapper">
  <resultMap id="BaseResultMap" type="xyz.hellothomas.jedi.biz.domain.monitor.App">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="namespace_name" jdbcType="VARCHAR" property="namespaceName" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_description" jdbcType="VARCHAR" property="appDescription" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="data_change_created_by" jdbcType="VARCHAR" property="dataChangeCreatedBy" />
    <result column="data_change_created_time" jdbcType="TIMESTAMP" property="dataChangeCreatedTime" />
    <result column="data_change_last_modified_by" jdbcType="VARCHAR" property="dataChangeLastModifiedBy" />
    <result column="data_change_last_modified_time" jdbcType="TIMESTAMP" property="dataChangeLastModifiedTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, namespace_name, app_id, app_description, owner_name, is_deleted, data_change_created_by,
    data_change_created_time, data_change_last_modified_by, data_change_last_modified_time
  </sql>
  <select id="selectByExample" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.AppExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.AppExample">
    delete from app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.App" useGeneratedKeys="true" keyProperty="id">
    insert into app (id, namespace_name, app_id, 
      app_description, owner_name, is_deleted,
      data_change_created_by, data_change_created_time, data_change_last_modified_by,
      data_change_last_modified_time)
    values (#{id,jdbcType=BIGINT}, #{namespaceName,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{appDescription,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT},
      #{dataChangeCreatedBy,jdbcType=VARCHAR}, #{dataChangeCreatedTime,jdbcType=TIMESTAMP}, #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.App" useGeneratedKeys="true" keyProperty="id">
    insert into app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="namespaceName != null">
        namespace_name,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appDescription != null">
        app_description,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="dataChangeCreatedBy != null">
        data_change_created_by,
      </if>
      <if test="dataChangeCreatedTime != null">
        data_change_created_time,
      </if>
      <if test="dataChangeLastModifiedBy != null">
        data_change_last_modified_by,
      </if>
      <if test="dataChangeLastModifiedTime != null">
        data_change_last_modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="namespaceName != null">
        #{namespaceName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appDescription != null">
        #{appDescription,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dataChangeCreatedBy != null">
        #{dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeCreatedTime != null">
        #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataChangeLastModifiedBy != null">
        #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastModifiedTime != null">
        #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.AppExample" resultType="java.lang.Long">
    select count(*) from app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.namespaceName != null">
        namespace_name = #{record.namespaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.appDescription != null">
        app_description = #{record.appDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerName != null">
        owner_name = #{record.ownerName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.dataChangeCreatedBy != null">
        data_change_created_by = #{record.dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.dataChangeCreatedTime != null">
        data_change_created_time = #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dataChangeLastModifiedBy != null">
        data_change_last_modified_by = #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.dataChangeLastModifiedTime != null">
        data_change_last_modified_time = #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app
    set id = #{record.id,jdbcType=BIGINT},
      namespace_name = #{record.namespaceName,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      app_description = #{record.appDescription,jdbcType=VARCHAR},
      owner_name = #{record.ownerName,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      data_change_created_by = #{record.dataChangeCreatedBy,jdbcType=VARCHAR},
      data_change_created_time = #{record.dataChangeCreatedTime,jdbcType=TIMESTAMP},
      data_change_last_modified_by = #{record.dataChangeLastModifiedBy,jdbcType=VARCHAR},
      data_change_last_modified_time = #{record.dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.App">
    update app
    <set>
      <if test="namespaceName != null">
        namespace_name = #{namespaceName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appDescription != null">
        app_description = #{appDescription,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="dataChangeCreatedBy != null">
        data_change_created_by = #{dataChangeCreatedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeCreatedTime != null">
        data_change_created_time = #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataChangeLastModifiedBy != null">
        data_change_last_modified_by = #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeLastModifiedTime != null">
        data_change_last_modified_time = #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.hellothomas.jedi.biz.domain.monitor.App">
    update app
    set namespace_name = #{namespaceName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_description = #{appDescription,jdbcType=VARCHAR},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      data_change_created_by = #{dataChangeCreatedBy,jdbcType=VARCHAR},
      data_change_created_time = #{dataChangeCreatedTime,jdbcType=TIMESTAMP},
      data_change_last_modified_by = #{dataChangeLastModifiedBy,jdbcType=VARCHAR},
      data_change_last_modified_time = #{dataChangeLastModifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>